<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" configfailurepolicy="continue">
    <test name="RegressionTest">
        <groups>
            <run>
                <exclude name="invalidTests"/>
                <include name="validTests"/>
            </run>
        </groups>

        <classes>
            <class name="org.example.exercises.CalculatorTest"/>
            <class name="org.example.exercises.TimeConverterTest"></class>
            <class name="org.example.exercises.EmployeeDetailsTest"></class>
        </classes>

    </test>

    <test name="CalculationTest">
        <classes>
            <class name="org.example.exercises.CalculatorTest">
                <methods>
                    <exclude name=".*checkInvalidMultiplication.*"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>